---
import Eruda from "../components/Eruda.astro";;

import TopNav from "../components/TopNav.astro";
import BottomFooter from "../components/BottomFooter.astro";
const { title } = Astro.props;
const { SITENAME } = process.env;
console.log({ SITENAME });
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | {SITENAME}</title>
  </head>
  <body class="min-h-screen flex flex-col">
    <Eruda/>
    <TopNav />

    <main class="flex-1">
      <slot />
    </main>

    <BottomFooter />
  </body>
</html>
